#put the name of the directory the example files are in in the next line
#between the quotes

my $dir='directory-here';  #don't put a slash at the end

#leave the rest as it is

$::links=$dir . '/link-control/link_database.bdbm';
$::page_index=$dir . '/link-control/page_has_link.cdb';
$::link_index=$dir . '/link-control/link_on_page.cdb';
$WWW::Link::Repair::filebase=$dir . '/public_html/';
$WWW::Link::Repair::infostrucbase='http://www.tardis.ed.ac.uk/climb/';
